div{
    min-height: 50px;
    font-size: 40px;
}
.parent {
    padding: 5px;
    background-color: #00AAFF;
  }
  
.child {
    padding: 5px;
}
  
.child-one {
    background-color: rgb(116, 255, 116);
}
  
.child-two {
    background-color: rgb(248, 117, 117);
}
    
.child-three {
    background-color: rgb(255, 116, 232);
}
.child-four {
    background-color: rgb(255, 206, 116);
}


.parent {
    /* position: relative; */
    height: 200vh;
}

.child-one {
    position: fixed;
    position: sticky;
    top: 40px;
}



/* ------------------  Functions  ------------------ */

.child-two {

    height: calc(100vh - 50px - 50vh + 2vh);
    height: min(10vh, 150px);

}
.child-three {

    width: max(500px, 4em, 50vw);
    
}

/* clamp() is a great way to make elements fluid and responsive. clamp() takes 3 values: */

.child-four {
  height: clamp(100px, 25vh, 150px);
}


/* the smallest value (320px)
the ideal value (80vw)
the largest value (60rem) */